<!DOCTYPE html>

<html>
    <head>
        <title>BASE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script language="JavaScript" type='text/javascript' src='script.js'></script>		
	<link rel='stylesheet' type='text/css' href='stylesheet.css'/>
    
    </head>
    
    
	<body>
    
		<div class = "title">
			<span> <img src="logo.jpg" /></span>
			
			<div id="name"> Hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii </div>
			<div id="abc">
				<a class = "topR" id ="login" href=""> Log In</a>
				<div class="login">
					E-mail ID:<input class= "l_name" type="text" name="Last Name" value = "E-mail ID" onfocus="value=''" onblur="if(value.length == 0) value='E-mail ID'" style="padding:0px 0px 0px 5px; height:20px"/><br>
				
					Password:<input class= "l_name" type="text" name="Last Name" value = "Password" onfocus="value=''" onblur="if(value.length == 0) value='Password'" style="padding:0px 0px 0px 5px; height:20px"/><br>
				
					<button id="submit">Submit</button>
 				</div>
 		</div>
                
		
		
			<div id="abc">
				<a class = "topR" id ="register" href="">Register</a>
				<div class="register">
				
					First Name:<input class= "f_name" type="text" name="First Name" value = "First Name" onfocus="value=''" onblur="if(value.length == 0) value='First Name'" style="padding:0px 0px 0px 5px; height:20px" /><br>
				
					Last Name:<input class= "l_name" type="text" name="Last Name" value = "Last Name" onfocus="value=''" onblur="if(value.length == 0) value='Last Name'" style="padding:0px 0px 0px 5px; height:20px"/><br>
				
					E-mail ID:<input class= "l_name" type="text" name="Last Name" value = "E-mail ID" onfocus="value=''" onblur="if(value.length == 0) value='E-mail ID'" style="padding:0px 0px 0px 5px; height:20px"/><br>
				
					Password:<input class= "l_name" type="text" name="Last Name" value = "Password" onfocus="value=''" onblur="if(value.length == 0) value='Password'" style="padding:0px 0px 0px 5px; height:20px"/><br>
				
					<button id="submit">Submit</button>
				</div>
			</div>
		</div>
        
        <hr>
        
        
        <div class="hideout">
        <div class="navig">
        <ul class="menu">
            <li><a href="">Home</a></li>
            <li><a href="">Technologies</a>
                <ul>
                    <li id="first"><a href="">First</a>
                        <ul id ="submenu">
                            <li><a href="">One</a></li>
                            <li><a href="">Two</a></li>
                            <li><a href="">Three</a></li>
                        </ul>
                    </li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Frameworks</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Databases</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Web Services</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">UI</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Others</a></li>
        </ul>    
        </div>
                
            
        <div class="search">
            <table><tr>
                    <td><img style =" width:25px; height:25px; padding:0px" src="searchbutton3.gif"/></td>
                    <td><input type="text" name="Search" value= "Search Here" onfocus="value=''" onblur="if(value.length == 0) value='Search Here'" style="padding:0px 0px 0px 5px; height:20px" /></td>
                </tr></table>
        </div>
        
        <div class="blog">as</div>
       
        <div class="recent">as</div>
        <div class="tags">TAGS</div>
        </div>
    </body>
</html>
