<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}Beehyv Blog{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script language="JavaScript" type='text/javascript' src='script.js'></script>		
	<link rel='stylesheet' type='text/css' href='{% static "css/stylesheet.css" %}'/>
    
    </head>
    
    
    <body>
    
		<div class = "title">
			<span> <img src="{% static "images/logo.jpg" %}" /></span>
			
			{% if user.is_authenticated %} <div class="topR">Hi {{full_name|default:"Guest"}} | <a href="">My Posts</a> | <a href="">Account</a> | <a href="/logout/">Logout</a></div>
			
			{% else %}
			
			<div id="abc">
				<a class = "topR" id ="login" href=""> Log In</a>
				<div class="login">
					<form id="login_form" method="post" action="/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="20" />
            <br />
            Password: <input type="password" name="password" value="" size="20" />
            <br />

            <input type="submit" value="Login" />
        </form>    
 				</div>
 			</div>
                
		
		
			<div id="abc">
				<a class = "topR" id ="register" href="">Register</a>
				<div class="register">
				
					<form action="/" method="post">
        				{% csrf_token %}
            			<table>
			   			{% for field in form %}
		
							{{ field.errors }}
			 				<tr><td>   {{ field.label_tag }}</td><td> {{ field }}</td></tr>
		
						{% endfor %}
						</table>
			
						<input type="submit" value="Submit" />
					</form>
				</div>
			</div>
		</div>   
        	
        	{% endif %}
        
        
        
        
        
        
        
            
            </div>
        </div>
        <hr>
        <div class="hideout">
        <div class="navig">
        <ul class="menu">
            <li><a href="">Home</a></li>
            <li><a href="">Technologies</a>
                <ul>
                    <li id="first"><a href="">First</a>
                        <ul id ="submenu">
                            <li><a href="">One</a></li>
                            <li><a href="">Two</a></li>
                            <li><a href="">Three</a></li>
                        </ul>
                    </li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Frameworks</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Databases</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Web Services</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">UI</a>
                <ul>
                    <li><a href="">First</a></li>
                    <li><a href="">Second</a></li>
                    <li><a href="">Third</a></li>
                </ul>
            </li>
            <li><a href="">Others</a></li>
        </ul>    
        </div>
                
            
        <div class="search">
            <table><tr>
                    <td><img style =" width:25px; height:25px; padding:0px" src="{% static "images/searchbutton3.gif" %}"/></td>
                    <td><input type="text" name="Search" value= "Search Here" onfocus="value=''" onblur="if(value.length == 0) value='Search Here'" style="padding:0px 0px 0px 5px; height:20px" /></td>
                </tr></table>
        </div>
        <div>{% block home %}{% endblock %}
            
        </div>
        </div>
        <br>
        <p style="align-left: 5px">
    </body>
</html>
